services:
  backend:
    build: ./server
    container_name: backend
    env_file:
      - ./server/.env

    ports:
      - "5005:5005"

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: http://3.107.56.15:5005/api

    container_name: frontend


    ports:
     - "5173:5173"
    depends_on:
      - backend